html {
  /*min-width: 960px;*/
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  /*position: relative;
  tab-size: 2;*/
  width: 960px;
  padding-top: 50px;
}
  
.main {
  width: 960px;
  padding: 40px 15px;
  /*text-align: center;*/
}


iframe {
  width: 960px;
  height: 600px;
  border: 1px solid #DEDEDE;
}

.smallmap {
  width: 480px;
  height: 400px;
  border: 1px solid #DEDEDE;
}

.columnlist {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.state {
      fill: #D0DFEF;
      stroke: #8A929A;
    }